.sbox{align-items: center;padding-top:50px;padding-bottom:70px;}
.sbox form .child{border-radius: 8px;background:#28328c;padding: 16px;display: flex; width: auto;margin-left:5%;margin-right:5%;font-size: 20px;color: #555;font-weight: 400;font-family: 'Poppins', sans-serif;}
.sbox form .child input{height: 40px;background: #fff;border-radius: 4px;border: 0;display: block;width: 50%;padding: 6px 15px 6px 15px;text-align: center;}
.dropdown-menu{
    background-color: white;
    padding:0;
}
.dropdown-toggle[aria-expanded="true"] {
    background: steelblue !important;
    color: #28328c !important;
}
.dropdown-menu li a:hover
{
    color:white;
    background-color:steelblue;
    border-color: none;
}
.navbar-brand{color:white;font-size:30px;position:relative;top:-5px;}
.container{text-align:center;font-size:40px;font-weight:bold;color:#2d2d32;}
.container-fluid{margin-right:auto;margin-left:auto;background-color:#28328c;}
.first-fold{background-color:#28328c;height:540px;color:white;padding-top:50px;background-repeat:no-repeat;background-position:100%;border-radius:8px;}
.heading{margin-left:146.5px;padding-top:50px;font-size:40px;color:white;margin-bottom:15px;font-weight:bold}
.description1{margin-left:150px;margin-bottom:31px;font-size:24px;line-height:1.38;color:#f0f0f5;max-width:380px;font-weight:normal}
.btn-blue{display:inline-block;color:#ffffff;background:#18bef0;border-radius:4px;font-size:26px;font-weight:700;padding:0 33px;line-height:66px;}
.btn-box{text-align:left;margin-left:230px}
h1{text-align:center; font-size: 200%;font-weight: 700;color:#133a7a}
body{background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);}
#search{border-top-right-radius:0px;border-bottom-right-radius:0px;outline:none;}
li{
    transition: all 0.3s;font-size: 18px;font-weight: 400;
}
button{
    transition: all 0.3s;font-weight: 500;letter-spacing: 3px;border:1px solid buttonFace;border-top-right-radius:4px;border-bottom-right-radius:4px;outline:none;
}
.panel-login { border-color: #ccc; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); } .panel-login>.panel-heading { color: #00415d; background-color: #fff; border-color: #fff; text-align:center; } .panel-login>.panel-heading a{ text-decoration: none; color: #666; font-weight: bold; font-size: 15px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; } .panel-login>.panel-heading a.active{ color: #029f5b; font-size: 18px; } .panel-login>.panel-heading hr{ margin-top: 10px; margin-bottom: 0px; clear: both; border: 0; height: 1px; background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0)); background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0)); background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0)); background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0)); } .panel-login input[type="text"],.panel-login input[type="number"],.panel-login input[type="email"],.panel-login input[type="password"] { height: 45px; border: 1px solid #ddd; font-size: 16px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; } .panel-login input:hover, .panel-login input:focus { outline:none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-color: #ccc; } .btn-login { background-color: #59B2E0; outline: none; color: #fff; font-size: 14px; height: auto; font-weight: normal; padding: 14px 0; text-transform: uppercase; border-color: #59B2E6; } .btn-login:hover, .btn-login:focus { color: #fff; background-color: #53A3CD; border-color: #53A3CD; } .forgot-password { text-decoration: underline; color: #888; } .forgot-password:hover, .forgot-password:focus { text-decoration: underline; color: #666; } .btn-register { background-color: #1CB94E; outline: none; color: #fff; font-size: 14px; height: auto; font-weight: normal; padding: 14px 0; text-transform: uppercase; border-color: #1CB94A; } .btn-register:hover, .btn-register:focus { color: #fff; background-color: #1CA347; border-color: #1CA347; } 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0; }
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
#modal-wrapper {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#window1{cursor:pointer;} #window2{cursor:pointer;}

/*---------------CATALOG STYLING---------------------*/
.content{
    padding:10px 30px;
    margin:0 auto;
}
.items{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding:5px;
}
.items li img{
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px; 
    width: 350px;
}
.city{
    font-size:40px;
    padding-left:none;
}
